

  h1{
    
    background-color: red;
    text-align: center
    
}

 h4{
    
    background-color: blue;
    text-align: center
    color: green
    
}


 .custom_boarder {
   
   boarder-width: 5px;
   boarder- solid;
   boarder - blue;
}


.custom_size {
  
  width: 20%;
  height : 400px;
  
}
