<html>
<head>
<style>

  h1{
    
    background-color:lightred;
    text-align: center;
    
}

 h3{
    
   
    text-align: center;
    
}

 .custom_border {
   
   border-width: 5px;
   border-style: solid;
   border-color : blue;
}

  img{
    border-style: solid;
    border-color: blue;
    border-radius: 50px;
 }

.paragraph_background {
  padding: 15px;
  width: 1000px;
  height: 150px;
  background-color:lightgreen;
  font-family: "Arial", sans-serif;
  border-radius: 30px;
}

p.small{
  padding: 15px;
  width: 1000px;
  height: 60px;
  background-color:lightgreen;
  font-family: "Arial", sans-serif;
  border-radius: 30px;
  
}

.custom_size {
  
  width: 20%;
  height : 400px;
  
}

#font {
  
  font-weight: bold;
  color:navy;
}

a{
  color:red;
}

</style>
</head>
<body>
</body>
</html>
