<html>
<head>


  h1{
    
   
    text-align: center;
    
}



 h4{
    
   
    text-align: center;
    
}

 h5{
    
 
    text-align: center
    
}



 h4.custom_border {
   
   border-width: 5px;
   border: solid;
   border : blue;
}


  img{
    border: solid;
    border : blue;
 }
.paragraph_background {
  background_color:red;
  font-family: "Arial", sans-serif;
}

.custom_size {
  
  width: 20%;
  height : 400px;
  
}

#font {
  
  font-weight: bold;
  
}

a{
  color:Lightgreen;
}


</head>
<body>
</body>
</html>
